* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: #fdf5e6;
    padding: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 150px;
    mix-blend-mode: multiply; 
}

.logo-container h2 {
    margin-left: 6px;
    font-size: 40px;
    line-height: 1; 
}

.nav-bar {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px; 
}

.search-bar input:focus {
    border: none;
    outline: none;
}

.search-button {
    margin-top: 25px;
    margin-left: 5px;
    cursor: pointer;
}

/* Main Section */

#search-input {
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-button {
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#blog_container {
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.blog_card {
    width: 280px;
    border: 1px solid#2d4c50;
    border-radius: 10px;
    cursor: pointer;
    padding: 1rem;
    margin: 10px;
}

.blog_card:hover {
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.blog_card img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.blog_card h2 {
    color: #000;
    font-size: 1.7rem;
    font-weight: 500;
}

.blog_card p {
    font-size: 1.2rem;
    padding-top: 0.7rem;
}